
// fonts ---------------------------------------------------------------------------
$main_font: "Hind Siliguri", sans-serif;;
$font1: '';
$font2: '';
$font_size: 10px;

// main size-----------------------------------------------------------------------------
$section_padding: 14.1rem;
$container_padding: 3rem;
$container_main: 117rem;
$container_1: '';
$container_2: '';
$container_3: '';

// colors -------------------------------------------------------------------------------

$main_color: #FF7235;
$second_color: 'second_color';

// breakpoints ------------------------------------------------------------------------------
$point_0: 1920px;
$point_1: 1200px;
$point_2: 1024px; 
$point_3: 1023.98px;
$point_4: 768px;
$point_5: 767.89px;
$point_6: 600px; 
$point_7: 599.89px;
$point_8: 480px;
$point_9: 479.89px;  
